*{
    margin: 0px;
    padding: 0px;
}
header{
    background: #000;
    font-family: fantasy;
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 5vh;
    width: 4vw;
    border: #000 solid 2px;
    border-radius: 10vh;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul .li{
    list-style: none;
    margin: 2vw;
}
.li a{
    text-decoration: none;
    color: white;
    border: 0.5vh solid rgb(100, 96, 96);
    border-radius: 0.6vh;
}
nav ul .li a:hover{
    font-weight: bolder;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 40vw;
    height: 2.5vh;
    border-radius: 0.5vh;
    margin: 0 1vw 0px 2vw;
}
.search button{
font-family: 'Times New Roman', Times, serif;
font-weight: bolder;
}
marquee{
    background: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    font-weight: bolder;
    color: red;
    margin: 1vw 0 1vw 0;
}
 .web{
    background: rgb(91, 214, 91);
    border: #000 0.2vh solid;
}
.app{
    background: rgb(146, 59, 100);
    border: #000 0.2vh solid;
}
.slider{
    display: flex;
    
}
.slider img{
    display: flex;
    align-items: center;
   margin: 1vw 1vw 1vw 1vw; 
}

.content{
    display: flex;
    font-family: fantasy;
}
.ball{
    display: flex;
    font-family: fantasy;
}
.boy{
    display: flex;
    font-family: fantasy;
}
.baby{
    display: flex;
    font-family: fantasy;
}
.h2{
    color: blue;
    border: #000;
    text-size-adjust: 3em;
}
.h2 p{
    text-align: center;
}
.profilepic img{
    width: 15vw;
    border: black 5px solid;
    margin: 1vw 4vw 1vw 4vw;
}
.information{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 05vw 4vw 4vw 4vw;
    border: red 2px solid;

    
}
.webdevelopers{
    text-decoration: solid;
    color: blue;
    text-transform: capitalize;

}
.webdevelopers a{
    text-decoration: none;
    border: 0.2vh  solid black;
}
.h1{
    color: rgb(14, 233, 185);
    border: #000;
    text-size-adjust:4vw;
}
.h1 p{
    text-align: center;
}
footer{
    height: 10vh;
    background: black;
    color: white;
    font-size: bolder;
    font-family: cursive;
}
footer p{
    text-align: center;
}
